{% extends "plantillains.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-body">

            <h4 class="mb-3">
                Subir archivo a {{ carpeta.nombre }}
            </h4>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Nombre del archivo</label>
                    <input type="text" name="nombre_archivo" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Archivo</label>
                    <input type="file" name="archivo" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Fecha de entrega</label>
                    <input type="date" name="fecha_entrega" class="form-control">
                </div>

                <button class="btn btn-success" type="submit">Guardar</button>
                <a href="{% url 'carpetasins' %}" class="btn btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}
