{% extends "plantillains.html" %}
{% load static %}

{% block contenido %}

<div class="container mt-4">

    <!-- TÍTULO -->
    <div class="d-flex align-items-center mb-3">
        <span class="fw-bold text-success me-3">CREAR CARPETA</span>
        <div style="height: 2px; background: #198754; flex-grow: 1;"></div>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">

                <div class="mb-3">
                    <label class="form-label fw-bold">Nombre de la carpeta</label>
                    <input type="text" name="nombre" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Descripción</label>
                    <textarea name="descripcion" rows="3" class="form-control"></textarea>
                </div>

            </div>
        </div>

        <div class="text-end">
            <a href="{% url 'opc_equipoejecutor' trimestre %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Volver
            </a>

            <button class="btn btn-success">
                <i class="bi bi-check-lg"></i> Crear carpeta
            </button>
        </div>

    </form>
</div>

{% endblock %}
